html {
    box-sizing: border-box;
}

*, *:before, *:after { 
    box-sizing: inherit;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
}

#side {
   width: 500px; 
}

.contentContainer {
    display: flex;
    flex-direction: row;
    gap: 50px;
}

.kitContainer {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.kitElement {
    height: 50px;
    width: 50px;
}